<launch>
  <node pkg="chibi_challenge" name="localpath" type="localpath" output="screen">
    <param name="max_speed" value="0.5"/>
    <param name="max_yawrate" value="2.0"/>
    <param name="max_accel" value="1.5"/>
    <param name="max_dyawrate" value="6.0"/>
    <param name="v_reso" value="0.01"/>
    <param name="yawrate_reso" value="0.05"/>
    <param name="dt" value="0.1"/>
    <param name="predict_time" value="1.0"/>
    <param name="robot_radius" value="0.3"/>
    <param name="alpha" value="50.0"/>
    <param name="beta" value="10.0"/>
    <param name="gamma" value="0.0"/>
  </node>
</launch>
