<launch>

  <node pkg="mapless_navigation" name="roomba" type="robot_sim" output="screen"/>

  <include file="$(find chibi_challenge)/launch/map.launch"/>

 <node pkg="chibi_challenge" name="sending_goal" type="sending_goal" output="screen"/>
<!--
  <include file="$(find chibi_challenge)/launch/localization.launch"/>
-->
  <node pkg="rviz" name="rviz" type="rviz" output="screen"/>

</launch>

